@font-face {
    font-family: "Effra";
    src: url(fonts/EffraPro_Rg.ttf);
}
@font-face {
    font-family: "Effra";
    src: url(fonts/EffraPro_Bd.ttf);
    font-weight: bold;
}

:root {
  --NYL-Blue: #0078c2;
  --NYL-Steel: #0a3c53;
  --NYL-PageBackground: #FBFBFB;
  --NYL-LightRain: #42b8fb;
  --NYL-Divider-Sections: #205F7C;
}

#header {
  height: 90px;
  width: 100%;
  justify-content: left;
  padding: 0 7.5%;
  margin: 0;
}
.navbar-nav {
  display: inline-block !important;
  float: left;
  margin: 15px !important;
}
.navbar-nav .nav-item .nav-link:hover {
  background-color: white !important;
}
.navbar-nav .nav-item {
  padding: 0 5px;
}
#navbarNav .nav-item .nav-link {
  color: var(--NYL-Blue);
  font-family: "Effra";
  font-size: 14pt;
}
#navbarNav .nav-item .nav-link:hover {
    text-decoration: underline;
}
#navbarNav .nav-item .nav-link i {
  padding: 5px;
}
.navbar-brand {
  margin-right: 50px !important;
  height: auto !important;
}
.profile-picture {
  border: 2px solid var(--NYL-Blue);
  border-radius: 50%;
}


.content {
  background-color: white;
  width: 100%;
}

#user-info {
  display: inline-block;
  font-family: Times;
  float: right;
  margin: 15px;
  margin-left: auto;
  text-align: right;
  padding: 10px;
}
#help-text p a {
    color: white !important;
    cursor: pointer !important;
}

#title-box p {
  margin: 0;
}
#title {
  background-color: var(--NYL-Divider-Sections);
  color: white;
  font-family: "Effra";
  font-size: 15pt;
  margin-bottom: 0;
  padding: 5px 10px 2px 10px;
}
#title-question {
  background-color: var(--NYL-PageBackground);
  font-family: "Effra";
  font-size: 15pt;
  padding: 20px 10px;
}

#main {
  display: inline-block;
  vertical-align: top;
  width: 85%;
  height: 100%;
}
#sidebar {
  background-color: var(--NYL-Steel);
  color: white;
  display: inline-block;
  font-family: "Effra";
  font-size: 11pt;
  width: 15%;
  height: 715px;
  padding: 40px 20px;
}


.questions {
  margin: 50px 5%;
  width: 95wv;
}
.question {
  background-color: rgba(0,0,0,0);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 5px 0px grey;
}
.question #top {
  background-color: var(--NYL-Divider-Sections);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  height: 100%;
  width: 100%;
  padding: 12px 0px 1px 12px;
}
.question #bottom {
  height: 100%;
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.question #bottom div {
  padding: 10px 0;
}
.btn-NYL {
  background-color: var(--NYL-Blue) !important;
  color: white !important;
  font-size: 14pt !important;
  font-family: "Effra";
  padding: 4px 45px !important;
}
.btn-NYL-secondary {
  background-color: #cdcdcd !important;
  color: black !important;
  font-size: 14pt !important;
  font-family: "Effra";
  padding: 4px 45px !important;
}
.btn-NYL-disabled {
  background-color: #cdcdcd !important;
  color: grey !important;
  font-size: 14pt !important;
  font-family: "Effra";
  padding: 4px 45px !important;
}
.btn-NYL-dropdown {
  background-color: var(--NYL-PageBackground);
  border: 0px;
  border-bottom: 3px solid var(--NYL-LightRain);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-family: Times;
  padding: 5px 10px;
  text-align: left;
}
.dropdown-toggle::after {
  float: right;
  margin-top: 10px;
}
.input-NYL h4 {
  font-size: 12pt;
  margin-bottom: 5px;
}
.textbox-NYL {
  background-color: var(--NYL-PageBackground);
  border: 0px;
  border-bottom: 3px solid var(--NYL-LightRain);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-family: Times;
  padding: 5px 10px;
  text-align: left;
}


#help-text {
  padding-top: 250px;
}















.section>* {
  padding: 0 10px;
}
.section h1 {
  font-size: 10pt;
  font-weight: bold;
  padding-top: 35px;
}
.section-divider {
  background-color: var(--NYL-Divider-Sections);
  height: 2px;
  width: 99%;
}

label {
  font-weight: 400;
}

.checkboxes {
  font-family: "Effra";
  font-size: 14pt;
  padding: 0px 0px 20px 10px;
}

.radios {
  font-family: "Effra";
  font-size: 14pt;
  padding: 30px 10px;
}

.radios label {
  display: inline;
  font-weight: 400;
}


.radio-NYL {
  display: block;
  position: relative;
  padding-top: 3px;
  padding-left: 40px;
  padding-right: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-NYL input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #white;
  border: .5px solid #ccc;
  border-radius: 50%;
}
.radio-NYL input:checked ~ .radio-checkmark {
  background-color: var(--NYL-Blue);
}
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-NYL input:checked ~ .radio-checkmark:after {
  display: block;
}
.radio-NYL .radio-checkmark:after {
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

.checkbox-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 18px;
    clear: both;
    padding: 0 24px;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-label .checkbox-NYL {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.checkbox-label input:checked ~ .checkbox-NYL {
    background-color: var(--NYL-Blue);
    border-radius: 3px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 1px solid grey;
}
.checkbox-label .checkbox-NYL::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 3px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
}
.checkbox-label input:checked ~ .checkbox-NYL::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1.5);
  opacity:1;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1px 1px 0;
  background-color: transparent;
  border-radius: 0;
}

.footer-NYL {
  background-color: var(--NYL-PageBackground);
  font-family: "Effra";
  font-size: 11pt;
  height: 200px;
  padding: 0 20%;
  text-align: center;
}
.footer-NYL .section-divider {
  background-color: #ccc;
  width: 100%;
}
.footer-NYL-content p {
  display: inline;
}
.footer-NYL-content {
  display: inline-block;
  padding: 50px 0 30px 0 ;
  text-align: center;
  width: 100%;
}
.footer-NYL .footer-row {
  display: inline;
  width: 49%;
}
.footer-NYL .footer-row p {
  padding: 15px;
}
.footer-NYL-copyright {
  padding: 20px 0 2px 0;
}
.footer-NYL-copyright p {
  margin: 0;
}

.nav-buttons {
  float: right;
  margin: 15px;
}
.nav-buttons input {
  margin-left: 10px
}

div[data-name="NetWorth_Calc_Assets"] {
    margin-right: 20px;
}


@media screen and (max-width: 1200px) {
  .content {
    padding: 0;
  }
  .steps {
    width: 100% !important;
  }
  #header {
    padding: 0;
  }
  #header::before {
    display: none;
  }
  .navbar-brand {
    padding: 12px !important;
  }
  .footer-NYL {
    padding: 1%;
  }
  #sidebar {
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1000px) {
  #sidebar {
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 750px) {
  #navbarNav {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #sidebar {
    display: none !important;
  }
  #dtc {
    width: 100% !important;
  }
  #user-info {
    float: left;
    position: relative;
    top: 75px;
    left: -133px;
  }
  #user-info br {
    display: none;
  }
  #user-info #separator {
    display: inline !important;
  }
  .footer-NYL-content {
    display: block;
    padding: 30px 10px;
  }
  .footer-row {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
  }
  .footer-row p {
    padding: 0 !important;
  }
  div[data-name="NetWorth_Calc_Assets"] {
    margin-right: 0px;
  }
}
.loader {
    background-color: #80808080;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

#loader {
    border: 16px solid var(--NYL-Blue);
    border-radius: 50%;
    border-top: 16px solid var(--NYL-LightRain);
    margin: 10%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}